.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.micro-5-regular {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
  
body{
    background-color:#160F29;
    text-align: center;
    width: 1120px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 32px;
    grid-auto-flow: dense;
}

#hotdog-ad{
    grid-column: 1/ span 2;
    width: 100%;
}

#supplement-ad{
    grid-column: 3/ span 8;
    width: 100%;
}

#five-hundred{
    grid-column: 11/ span 2;
    width: 100%;
}

h1{
    color: #FF210B;
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: var(--DMD-cyan, #69DDFF);
    font-family: Silkscreen;
    font-size: 104px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2{
    color:#FF210B;
    font-family: "Micro 5";
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav{
    background-color: #247B9F;
    grid-column: 1/ span 12;
    height: 72px;
}

a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}

#logo{
    grid-column: 1/ span 11;
    width: 100%;
}

#playbutton{
    grid-column: 4/ span 6;
    width: 100%;
    height: 178px;
    text-align: center;
    background-color: #6BD424;
    border: 8px solid #FF210B;
}

#gamewindow{
    background-color: #6BD424;
    width: 100%;
    grid-column: 3/ span 8;
}