.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.micro-5-regular {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
  
body {
    background-color: #160F29;
    text-align: center;
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, calc((100vw - 11 * 24px) / 12));
    grid-column-gap: 24px;
    grid-template-rows: repeat(6, calc((100vh - 5 * 24px) / 6));
    grid-row-gap: 24px;
    grid-auto-flow: dense;
}

#logo {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: #247B9F;
    height: 50%;
    width: 100%;
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    border-bottom: #160F29 8px solid;
}

nav p {
    color: white;
    font-family: "Micro 5";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#hotdog-ad {
    grid-column: 1 / span 2;
    grid-row: 3 / span 3;
    width: 100%;
    height: 100%;
}

#supplement-ad {
    grid-column: 3 / span 8;
    grid-row: 6 / span 1;
    width: 100%;
    height: 100%;
}

#five-hundred {
    grid-column: 11 / span 2;
    grid-row: 3 / span 2;
    width: 100%;
    height: 100%;
}

h1 {
    color: #FF210B;
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: var(--DMD-cyan, #69DDFF);
    font-family: Silkscreen;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    color: #FF210B;
    font-family: "Micro 5";
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #69DDFF;
    font-family: "Micro 5";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer{
    background-color: #6BD424;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    grid-column: 1 / span 12;
    position: relative;
    bottom: 0;
    z-index: -1;
    margin-top: 10vh;
}

footer p{
    color: #247B9F;
    font-family: "Micro 5";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.caption{
    background-color: rgba(0, 0, 0, 0.5);
}

#playbutton {
    grid-column: 4 / span 6;
    grid-row: 3 / span 2;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #6BD424;
    border: 8px solid #FF210B;
}

#gamewindow {
    background-color: #247B9F;
    width: 100%;
    height: 100%;
    grid-column: 3 / span 8;
    grid-row: 2/ span 5;
    border: #69DDFF 8px solid;
    border-top: #69DDFF 64px solid;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

#popup-error{
    z-index: 1001;
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

.popup-content {
    width: 90vw;
    max-width: 600px;
    max-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content img {
    width: 100%;
    height: auto;
    max-height: 100vh;
}

#brother .popup-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#brother .popup-content img {
    width: 100vw;
    height: 100vw;
    object-fit: contain;
}
#brother .popup-content p {
    color: white;
    font-family: "Silkscreen", sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
    position: absolute; 
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    display: none; 
}

#brother .popup-content p:not(:target) {
    display: none;
}

#brother .popup-content p:first-of-type {
    display: block; 
}

#brother .popup-content p:target {
    display: block;
}

#brother .popup-content p:not(:target):not(#brother1) {
    display: none; 
}

#brother:target .popup-content p {
    display: none;
}
#brother:target .popup-content p:target {
    display: block; 
}

#brother {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    animation: slideInFromLeft 1s forwards;
    animation-delay: 1s;
}

#brother.show {
    visibility: visible;
    opacity: 1;
    animation: slideInFromLeft 1s forwards; 
}

#brother:target {
    visibility: visible;
    opacity: 1;
    left: 0;
}
#brotherdialogue{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
#brotherdialogue .popup-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#brotherdialogue .popup-content img {
    width: 100vw;
    height: 100vw;
    object-fit: contain;
}
#brotherdialogue .popup-content p {
    color: white;
    font-family: "Silkscreen", sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
    position: absolute; 
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
}
#error-window {
    visibility: hidden;
    opacity: 0;
}

#error-window.show {
    visibility: visible;
    opacity: 1;
    animation: showPopup 1s forwards;
}

#side-eye {
    position: fixed;
    top: 0;
    left: -20%;
    width: 100%;
    height: 100%;
    background: none; 
    display: flex;
    justify-content: left;
    z-index: 1000;
}

#side-eye p{
    color: white;
    font-family: "Silkscreen", sans-serif;
    font-size: 3rem;
    text-align:left;
    margin-top: 20px;
    left: 30%;
    position: absolute; 
    bottom: 10px;
}

#jumpscare-maze{
    background-image: url(../imgs/jumpscare-maze.jpg);
    background-size: contain;
    background-color: #247B9F;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    grid-column: 3 / span 8;
    grid-row: 2/ span 5;
    display:flex;
    align-items: end;
    justify-content: center;
    z-index: -2;
    border: #69DDFF 8px solid;
    border-top: #69DDFF 64px solid;
}

#jumpscare-maze p{
    position: absolute;
}

#scare{
    width: 65%;
    height: auto;
    opacity: 0;
    animation: scare 50ms forwards;
    animation-delay: 8s;
    object-fit: contain;
    margin-top: 13vh;
}

#scare-container{
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#beforescare{
    animation: hideCaption 50ms forwards;
    animation-delay: 8s;
}

#bye{
    opacity: 0;
    animation: showCaption 50ms forwards;
    animation-delay: 10s;
}

@keyframes hideCaption {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes showCaption {
    0% {
        opacity: 0;
        display: block;
    }
    100% {
        opacity: 1;
        display: block;
    }
}

@keyframes scare {
    0% {
        opacity: 0;
        scale: 1%;
    }
    100% {
        opacity: 1;
        scale: 100%;
    }
}

@keyframes showPopup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        left: -100%;
        opacity: 0;
    }
    100% {
        left: 0; 
        opacity: 1;
    }
    
}